<h3>Clocking</h3>
<div class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12">
        <div class="progress blue">
          <span class="progress-left">
            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
            <span class="progress-bar"></span>
          </span>
          <div class="progress-value">10%</div>
        </div>
      </div>
      <div class="col-md-12" style="text-align:center;">
        <button class="btn btn-success">Clock in</button>
        <button class="btn btn-default">Clock out</button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <label>Clock in</label> - <span>10:30</span><br/>
    <label>Clock out</label> - <span></span>
  </div>
  <div class="col-md-6">
    <h3>Here goes the clocking table</h3>
  </div>
</div>

